@page "/button-events"
@rendermode InteractiveServer

<PageTitle>Button Events</PageTitle>

<h1>Basic Button Events</h1>
<p>Learning about buttons and events!</p>

<blockquote>
	This page will demonstrate the basics of button events. It will use &lt;input&gt; controls to ask for some user input. It will use a &lt;button&gt; control to process the input. It will demonstrate basice use of C# code to do the processing.
</blockquote>

<p>@WelcomeMsg</p>

<button type="submit" @onclick="Reset">Reset</button>

<label for="inputcontrol">Enter an H for heads or T for Tails:</label>
<input type="text" id="inputcontrol" placeholder="eg: H" @bind="InputValue"/>
<button type="submit" @onclick="PlayGame">Play</button>

@code {
	private string WelcomeMsg = "Let us get started!";

	private string InputValue;

	private void Reset(){
		WelcomeMsg = "Reset by Button.";
		InputValue = "";
	}

	/// <summary>
	/// Plays a guessing game of heads or tails with a coin.
	/// </summary>
	private void PlayGame()
	{
		Random rnd = new Random();

		int flip = rnd.Next(0, 2);

		WelcomeMsg = "";

		string guess = InputValue.ToUpper().Trim();

		switch (flip)
		{
			case 0: //heads
				{
					if(guess == "H")
					{
						WelcomeMsg = "You guessed correctly, it's Heads!";
					}
					else if(guess == "T")
					{
						WelcomeMsg = "You guessed incorrectly!";
					}
					else
					{
						WelcomeMsg = $"{guess} was invalid, please enter H or T.";
					}
			}
				break;

			case 1:
				{
					if (guess == "T")
					{
						WelcomeMsg = "You guessed correctly, it's Tails!";
					}
					else if (guess == "H")
					{
						WelcomeMsg = "You guessed incorrectly!";
					}
					else
					{
						WelcomeMsg = $"{guess} was invalid, please enter H or T.";
					}
				}
				break;
			
			default: break;
		}
	}
}
